business-accounting/business accounting/Business_Accounting_Client/Connected Services/ServiceReference1/Inventory_Management.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Inventory_Management" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inventory_Management" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfArrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="NotFoundFolt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundFolt" nillable="true" type="tns:NotFoundFolt" />
</xs:schema>